html,
body,
div,
canvas {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
body {
    background-color: #f4f5f7;
}
.timeLine-header-con {
    position: relative;
    min-width: 1200px;
    height: 60px;
    margin: 0 auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    background-color: #fff;
    z-index: 2;
}

.timeLine-main {
    position: relative;
    min-width: 1200px;
}
.timeLine-currBgc-con {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: #fffbf4;
    z-index: -1;
}
.timeLine-header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    padding: 0 10px;
}

.timeLine-operate-con {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100px;
    height: 60px;
    line-height: 56px;
    text-align: center;
    border-radius: 16px;
    border: solid 2px #505163;
    font-size: 12px;
    background-color: #ffffff;
    color: #505163;
    z-index: 1;
}

.timeLine-logo-con {
    display: flex;
    align-items: center;
}

.timeLine-logo {
    height: 31px;
}

.timeLine-point {
    margin: 0 8px;
}

.timeLine-logo-cn {
    height: 22px;
}

.timeLine-notRegister {
    display: flex;
    align-items: center;
    font-size: 14px;
    opacity: .6;
    color: #505163;
}

.timeLine-userInfo-con {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.timeLine-userInfo-con:hover .timeLine-operate-con {
    display: block;
}

.userInfo-head {
    height: 36px;
    width: 36px;
}

.userInfo-name {
    margin-left: 12px;
    opacity: .6;
    font-size: 14px;
    color: #505163;
}

.timeLine-tags-con {
    position: static;
    width: 100%;
    top: 0;
    left: 0;
    height: 40px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    background-color: #ffcf73;
    z-index: 1;
}
.timeLine-tags-temp {
    display: none;
    width: 100%;
    height: 40px;
}
.timeLine-tags-body {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    background-image: url("../image/tags-bcg.svg");
    background-position: 905px 4px;
    background-repeat: no-repeat;
    overflow-x: auto;
}

.share-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 97px;
    top: 7px;
    width: 82px;
    height: 26px;
    border-radius: 8px;
    border: solid 1px #505163;
    background-color: #f3f4f6;
    font-size: 12px;
    cursor: pointer;
}

.create-img-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 7px;
    width: 82px;
    height: 26px;
    border-radius: 8px;
    border: solid 1px #505163;
    background-color: #f3f4f6;
    font-size: 12px;
    cursor: pointer;
}

.share-fly-logo {
    width: 14px;
    height: 13px;
    margin-right: 9px;
}

.timeLine-tags-item {
    display: flex;
    align-items: center;
    height: 24px;
    margin-right: 6px;
    padding: 0 12px;
    border-radius: 6px;
    border: solid 1px #505163;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 100;
    color: #505163;
}

.timeLine-tags-item span {
    white-space: nowrap;
}

.timeLine-tags-active {
    background-color: #505163;
    color: #fff;
}

.timeLine-tags-active .timeLine-tags-close{
    display: inline-block;
}

.timeLine-tags-close {
    display: none;
    height: 8px;
    width: 8px;
    margin-left: 12px;
    cursor: pointer;
}

.canvas-con {
    position: relative;
    width: 1200px;
    margin: 60px auto;
}
.canvas-tool {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(244, 245, 247, .6);
    overflow: auto;
    z-index: 10;
}

.mask-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 550px;
}

.add-event-con,.edit-event-con {
    width: 588px;
    min-height: 504px;
    padding: 24px 36px;
    border-radius: 8px;
    border: solid 2px #505163;
    background-color: #ffffff;
}

.popup-title {
    line-height: 24px;
    font-size: 24px;
    color: #505163;
}

.logo-one {
    background-image: url("../image/1.svg");
    background-size: 100% 100%;
}
.logo-two {
    background-image: url("../image/2.svg");
    background-size: 100% 100%;
}
.logo-three {
    background-image: url("../image/3.svg");
    background-size: 100% 100%;
}
.logo-four {
    background-image: url("../image/4.svg");
    background-size: 100% 100%;
}
.logo-five {
    background-image: url("../image/5.svg");
    background-size: 100% 100%;
}
.logo-six {
    background-image: url("../image/6.svg");
    background-size: 100% 100%;
}
.logo-seven {
    background-image: url("../image/7.svg");
    background-size: 100% 100%;
}

.event-logo-list {
    display: flex;
    width: 100%;
    margin-top: 36px;
    justify-content: space-between;
}
.event-logo-item {
    height: 84px;
    width: 84px;
    cursor: pointer;
    border: solid 1px transparent;
}
.event-logo-item_active {
    border-radius: 4px;
    border-color: #f4b219;
}

.delete-tip {
    width: 440px;
    height: 200px;
    padding: 24px 36px 26px;
    border-radius: 12px;
    border: solid 2px #505163;
    background-color: #ffffff;
}

.delete-btn-img {
    height: 14px;
    width: 14px;
    margin-right: 6px;
    vertical-align: middle;
}

.delete-info {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 500;
    color: #505163;
}

.btn-con {
    display: flex;
    margin-top: 48px;
}

.btn-delete {
    font-size: 12px;
    margin-right: 10px;
}

.btn-delete-cancel {
    font-size: 12px;
}

.input-label {
    display: inline-block;
    width: 56px;
    line-height: 24px;
    vertical-align: top;
    color: #505163;
}
.input {
    width: 300px;
    height: 26px;
    padding: 0 8px;
    border-radius: 4px;
    border: solid 1px #505163;
    background-color: #ffffff;
}
.textarea {
    width: 300px;
    height: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    border: solid 1px #505163;
    background-color: #ffffff;
    resize: none;
}
.mask .timeLine-tags-item {
    margin-bottom: 6px;
}


.add-btn-con {
    margin-top: 45px;
}
.add-event-sure {
    margin-right: 10px;
}

.add-event-form {
    margin-top: 24px;
}

.form-line {
    margin-top: 8px;
}

.share-con {
    position: relative;
    width: 518px;
    height: 180px;
    padding: 24px 27px;
    border-radius: 8px;
    border: solid 2px #505163;
    background-color: #ffffff;
}

.close-btn {
    position: absolute;
    right: 28px;
    top: 33px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.share-input {
    width: 324px;
    height: 40px;
    padding: 0 24px 0;
    border-radius: 6px;
    border: solid 2px #505163;
    background-color: #ffffff;
}

.share-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;
}

.create-timeLine-con {
    position: relative;
    width: 518px;
    height: 546px;
    padding: 24px 36px;
    border-radius: 8px;
    border: solid 2px #505163;
    background-color: #ffffff;
}

.create-timeLine-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 360px;
    margin: 36px 0 24px;
}

.create-timeLine-btn-con {
    display: flex;
}
.mar-rig-10 {
    margin-right: 10px;
}

.add-timeLine-con {
    display: inline-block;
    position: relative;
}

.add-timeLine-input {
    width: 128px;
    height: 24px;
    padding: 0 8px;
    border-radius: 4px;
    border: solid 1px #505163;
    background-color: #ffffff;
}


.choose-timeline-con {
    overflow: auto;
    width: 200px;
    height: 360px;
    padding: 0 12px;
    border-radius: 6px;
    border: solid 1px #505163;
    background-color: #ffffff;
}

.shuttle-logo {
    width: 36px;
    height: 36px;
}

.shuttle-timeline-item {
    overflow: auto;
    width: 176px;
    height: 28px;
    margin: 16px 0;
    line-height: 28px;
    border-radius: 4px;
    background-color: #f3f4f6;
    cursor: pointer;
}

.shuttle-timeline-item p {
    white-space: nowrap;
    padding: 0 8px;
}
.cursor {
    cursor: pointer;
}

.timeLine-list-con {
    display: none;
    position: absolute;
    top: 23px;
    left: 0;
    overflow-y: auto;
    width: 128px;
    height: 128px;
    border-radius: 4px;
    border: solid 1px #505163;
    background-color: #ffffff;
}

.timeLine-list-item {
    overflow-x: auto;
    height: 22px;
    line-height: 22px;
    border-radius: 4px;
    font-size: 12px;
    color: #505163;
}
.timeLine-list-item:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.timeLine-list-item p {
    padding-left: 7px;
    white-space: nowrap;
}

.add-timeLine-btn {
    position: absolute;
    top: 4px;
    right: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.timeLine-tags-blur, .timeLine-tags-focus {
    cursor: pointer;
}

.timeLine-tags-blur {
    opacity: .5;
}

.timeLine-tags-body-con {
    position: relative;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    padding: 0 185px 0 10px;
    overflow-x: auto;
}

.timeLine-to-login {
    display: inline-block;
    width: 60px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 8px;
    border: solid 1px #505163;
    background-color: #ffffff;
    cursor: pointer;
}

.timeLine-to-login:link,
.timeLine-to-login:visited,
.timeLine-to-login:hover,
.timeLine-to-login:active{
    color: #505163;
    text-decoration: none;
}
